@import "./variables";
@mixin section-title ($lineh:80px) {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 600;
    line-height: $lineh;
}
@mixin text-style ($fontz:48px) {
    font-family: 'Poppins';
    font-size: $fontz;
    font-weight: 400;
    line-height: 30px;
}
@mixin button ($padding-top:15px,$padding-bottom:15px,$padding-left:51px,$padding-right:51px,$bradius:5px,$bgcolor:#263238,$fontz:20px) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
    padding-right: $padding-right;
    background-color: $bgcolor;
    border-radius: $bradius;
    color: white;
    text-decoration: none;
    border: none;
}
@mixin card-up-style ($fontsize:16px) {
    font-family: 'Poppins';
    font-size: $fontsize;
    font-weight: 400;
    line-height: 24px;
    color:$text-color;
}