@import "../mixin";
.about{margin-top: 0px;display: flex; justify-content: space-between;
    align-items: center;
    &__content{width: 635px;}
    &__desc{margin-bottom: -20px;
        @include card-up-style (20px);
    }
    &__titles{font-size: 48px;text-align: center;}
}
.desc_align{text-align: center;}
.title_margin{margin-bottom: 0px;}
.text_left{margin-top: 284px;font-size: 48px;font-weight: 600;}
.wrapper-block{display: flex;justify-content: space-between;align-items: baseline;margin-top: 20px;}

@media screen and (max-width:992px) {
    .container{max-width: 929px;}
    .about__titles{font-size: 30px;margin-top: 50px;margin-bottom: 10px;}
    .about__desc{font-size: 16px;}
    .about__img{width: 510px;height: 370px;}
    .text_left{margin-bottom: 50px;}
}


@media screen and (max-width:767px) {
    .container{max-width: 690px;}
    .about{margin-top: 100px;}
    .mini-card{margin-right: 10px;}
    .wrapper-block{width: 360px;margin-right: auto;}
    .about__titles{font-size: 22px;text-align: center;margin-top: 50px;margin-bottom: 20px;}
    .about__desc{font-size: 14px;}
    .desc_width{width: 340px;}
    .about__img{width: 310px;height: 350px;display: block;}
    .text_left{margin-bottom: -70px;font-size: 30px;}
}

@media screen and (max-width:575px) {
    .container{max-width: 510px;}
    .text_left{margin-top: -400px;text-align: center;font-size: 30px;}
    .about{
        display: flex;flex-direction:column-reverse;

        &__desc{font-size: 14px;
            line-height: 21px;text-align: center;
            width: 510px;}
            &__img{width: 90%;height:40% !important;align-self: center;}
    }
    .wrapper-block{justify-content: space-between;width: 480px;}
    .mini-card{width: 50px;display: flex;flex-direction: column;align-items: center;}
}

@media screen and (max-width:320px) {
    .container{max-width: 290px;}*{max-width: 290px !important;}

    .text_left{
        font-size: 18px;
    }
    .about__img{max-width: 290px;}
    .about__desc{max-width: 290px;}
    .wrapper-block{flex-direction: column;align-items: center;width: 290px;}
}