.pricing{
    font-family: 'Poppins';
    margin-top: 200px;
    
    &__flex_wrapper{display: flex;align-items: baseline;justify-content: space-between;}
    
    
    &__title{
        @include section-title (48px);
        font-size: 30px;
        margin-bottom: 0px;
    }
    &__subtitle{
        @include card-up-style (20px)
    }
    &__link{display: flex;align-items: baseline;padding: 0px 25px;background-color:#EEEEEE;color: $main-color;
        font-size: 30px;
        line-height: 45px;
        text-decoration: none;border-radius: 5px;
    }
    
    &__card{box-sizing: border-box;
        width: 440px;height: 560px;display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.margin_top2,
.margin_top{margin-top: 5.5%;}

.blocks_wrapper{display: flex;align-items: baseline;}
@media screen and (max-width:992px) {
    .container{max-width: 929px;}
    .pricing{
        margin-top: 150px;
        &__title{font-size: 22px;margin-bottom: 10px;}
        &__subtitle{font-size: 16px;width: 300px;}
        &__link{padding: -5px 15px;font-size: 24px;margin-top: 10%;}
        &__card{width: 330px;}
    }
    .margin_top{margin-top: 18%;}
    .margin_top2{margin-top: 10%;}
    .imgpr1{width: 250px;height: 230px;}
    .imgpr2{width: 250px;height: 240px;}
    .imgpr3{width: 250px;height: 230px;}
    .text3{width: 270px;}
    .sup-text{font-size: 16px;line-height: 24px;}
}




@media screen and (max-width:767px) {
    .container{max-width: 690px !important;}
    .pricing{
        margin-top: 90px;
        &__title{width: 190px;
            font-size: 20px;margin-bottom: 10px;line-height: 28px;}
        &__subtitle{font-size: 14px;width: 200px;line-height: 21px;}
        &__link{padding: -5px 15px;font-size: 22px;margin-top: 10%;line-height: 33px;}
        &__card{width: 205px;}
    }
    .title_width{width: 150px;}
    .margin_top{margin-top: 20.5%;}
    .margin_top2{margin-top: 20.3%;width: 205px;}
    .imgpr1,.imgpr2,.imgpr3{width: 190px;height: 200px;}
    .text3{width: 200px;}
    .sup-text{font-size: 14px;line-height: 24px;}
}



@media screen and (max-width:575px) {
    .container{max-width: 510px;}

    .pricing{
        &__name{margin-top: 150px;}
        &__flex_wrapper{display: flex;
        justify-content: center;align-items: center;}
        &__card{align-items: center; width: 400px;margin-bottom: -150px;}
        
            &__title{width: 100%;text-align: center;font-size: 24px;}
            &__subtitle{width: 100%;text-align: center;}
            &__link{
                padding: 10px 15px;
            }
    }
    .text2{width: 85%;margin-bottom: -60px;}
    .text3{width: 90%;margin-bottom: -60px;}
    .blocks_wrapper{display: block;}
    .sup-text{font-size: 16px;}
}


@media screen and (max-width:320px) {
    .container{max-width: 290px;}

    .pricing{
        &__card{width: 290px;}
        &__title{font-size: 18px;}
        &__subtitle{font-size: 13px;}
        &__link{
            padding: 5px 10px;}
    }
    .text3{margin-bottom: -30px;}
}